
@{
    ViewBag.Title = "Login";

}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<html>
<body>

    <p id="demop">Logging</p>
    <p id="hidden" style="display:none">Hidden JavaScript!</p>
    <button type="button" onclick="demo()">ClickMe!</button>
    <button type="button" onclick="hide()">HideMe!</button>
    <script src="~/Scripts/CustomJS/demoJavaScript.js"></script>
</body>
</html>

